@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
    font-size:1em;
    font-family: 'Roboto', sans-serif;
    font-color: #607D8B;
}

.container-custom{
    margin-top:50px;
    margin-bottom:50px;
}

.node-logo{
    height:240px;
}

.card-title{
    font-size:1em !important;
    text-align:center;
}

.icon-space{
    margin-right: 5px;
}

.badge{
    cursor: pointer;
}

.text-right{
    text-align:right;
    float:right;
}

.huge{
    font-weight:bolder;
    font-size:1.0em;
    float:right;
}

.alert{
    color: #FFF;
}

.alert-green{
    background: #009587;
}

.alert-blue{
    background: #3E50B4;
}

.alert-orange{
    background: #FE5621;
}