@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
    font-size:1em;
    font-family: 'Roboto', sans-serif;
    font-color: #607D8B;
}

.container-custom{
    margin-top:50px;
}

.node-logo{
    height:240px;
}

.card-title{
    font-size:1em !important;
    text-align:center;
}

.icon-space{
    margin-right: 5px;
}