<h3>Managers:</h3>
<div class="row">
    <div class="col-lg-2" ng-repeat="manager in managers">
        <div class="card">
          <img class="card-img-top node-logo" src="/static/img/docker.png" alt="Node logo">
          <div class="card-block">
            <h4 class="card-title">{{ manager.Description.Hostname }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-cog icon-space" aria-hidden="true"></i> Engine: {{ worker.Description }}</li>
            <li class="list-group-item"><i class="fa fa-linux icon-space" aria-hidden="true"></i> OS: {{ worker.Description.Platform.OS }}/{{ worker.Description.Platform.Architecture }}</li>
            <li class="list-group-item"><i class="fa fa-check icon-space" aria-hidden="true"></i> Availability: {{ worker.Spec.Availability }}</li>
          </ul>
        </div>
    </div>
</div>
<h3>Workers:</h3>
<div class="row">
    <div class="col-lg-2" ng-repeat="worker in workers">
        <div class="card">
          <img class="card-img-top node-logo" src="/static/img/docker.png" alt="Node logo">
          <div class="card-block">
            <h4 class="card-title">{{ worker.Description.Hostname }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-cog icon-space" aria-hidden="true"></i> Engine: {{ worker.Description.Hostname }}</li>
            <li class="list-group-item"><i class="fa fa-linux icon-space" aria-hidden="true"></i> OS: {{ worker.Description.Platform.OS }}/{{ worker.Description.Platform.Architecture }}</li>
            <li class="list-group-item"><i class="fa fa-check icon-space" aria-hidden="true"></i> Availability: {{ worker.Spec.Availability }}</li>
          </ul>
        </div>
    </div>
</div>