<div class="row">
    <div class="col-lg-12">
        <p style="color:#607D8B">Swarm Managers</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-2" ng-repeat="manager in managers" style="font-size:0.8em">
        <div class="card">
          <img src="/static/img/node.svg" style="width:130px;margin:0 auto;margin-top:10px;">
          <div class="card-block">
              <h4 class="card-title" style="font-weight:bolder;">{{ manager.Description.Hostname }}  <span ng-click="showNodeDetail(manager.ID)" class="badge badge-success pull-right"><i class="fa fa-search" aria-hidden="true"></i> View</span></h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-cog icon-space" aria-hidden="true"></i> Engine: {{ manager.Description.Engine.EngineVersion }}</li>
            <li class="list-group-item"><i class="fa fa-linux icon-space" aria-hidden="true"></i> OS: {{ manager.Description.Platform.OS }}/{{ manager.Description.Platform.Architecture }}</li>
            <li class="list-group-item"><i class="fa fa-check icon-space" aria-hidden="true"></i> Availability: {{ manager.Spec.Availability }}</li>
          </ul>
        </div>
    </div>
</div><br/>
<div class="row">
    <div class="col-lg-12">
        <p style="color:#607D8B">Swarm Workers</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-2" ng-repeat="worker in workers" style="font-size:0.8em">
        <div class="card">
          <img src="/static/img/node.svg" style="width:130px;margin:0 auto;margin-top:10px;">
          <div class="card-block">
            <h4 class="card-title" style="font-weight:bolder;">{{ worker.Description.Hostname }}  <span ng-click="showNodeDetail(worker.ID)" class="badge badge-success pull-right"><i class="fa fa-search" aria-hidden="true"></i> View</span></h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-cog icon-space" aria-hidden="true"></i> Engine: {{ worker.Description.Engine.EngineVersion }}</li>
            <li class="list-group-item"><i class="fa fa-linux icon-space" aria-hidden="true"></i> OS: {{ worker.Description.Platform.OS }}/{{ worker.Description.Platform.Architecture }}</li>
            <li class="list-group-item"><i class="fa fa-check icon-space" aria-hidden="true"></i> Availability: {{ worker.Spec.Availability }}</li>
          </ul>
        </div>
    </div>
</div>