<div class="row">
    <div class="col-lg-12">
        <span class="badge badge-primary">{{ info.Spec.Role }}</span>
        <p style="color:#607D8B"><span style="font-weight:bolder;">Node: </span>{{ info.Description.Hostname }}</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <p style="color:#607D8B"><span style="font-weight:bolder;">Plugins</p>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="plugin in info.Description.Engine.Plugins">
                        <td>{{ plugin.Type }}</td>
                        <td>{{ plugin.Name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="alert alert-green" ng-class="{'alert-red': info.Status.State != 'ready'}" role="alert">
                    <div class="row">
                        <div class="col-lg-3">
                            <i ng-class="{'fa fa-thumbs-o-down fa-4x': info.Status.State != 'ready', 'fa fa-check fa-4x': info.Status.State === 'ready'}"></i>
                        </div>
                        <div class="col-lg-9 text-right">
                            <div class="huge">{{ info.Status.State }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="alert alert-blue" role="alert">
                    <div class="row">
                        <div class="col-lg-3">
                            <i class="fa fa-cogs fa-4x"></i>
                        </div>
                        <div class="col-lg-9 text-right">
                            <div class="huge">{{ info.Description.Engine.EngineVersion }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="alert alert-orange" role="alert">
                    <div class="row">
                        <div class="col-lg-3">
                            <i class="fa fa-laptop fa-4x"></i>
                        </div>
                        <div class="col-lg-9 text-right">
                            <div class="huge">{{ info.Description.Platform.OS }}/{{
                                info.Description.Platform.Architecture }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>