<div class="row">
    <div class="col-lg-2" ng-repeat="service in services"  style="font-size:0.8em">
        <div class="card">
          <img src="/static/img/service.svg" style="width:130px;margin:0 auto;margin-top:10px;">
          <div class="card-block">
            <h4 class="card-title" style="font-weight:bolder;">{{ service.Spec.Name }} <span ng-click="showServiceDetail(service.ID)" class="badge badge-success pull-right"><i class="fa fa-search" aria-hidden="true"></i> View</span></h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-cog icon-space" aria-hidden="true"></i> Replicas: {{ service.Spec.Mode.Replicated.Replicas }}</li>
          </ul>
        </div>
    </div>
</div>