<div class="row">
    <div class="col-lg-2" ng-repeat="task in tasks"  style="font-size:0.8em">
        <div class="card">
          <img src="/static/img/task.svg" style="width:130px;margin:0 auto;margin-top:10px;">
          <div class="card-block">
            <h4 class="card-title">{{ task.Spec.ContainerSpec.Image }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-linux icon-space" aria-hidden="true"></i> Node: {{ task.NodeName }}</li>
            <li class="list-group-item"><i class="fa fa-check icon-space" aria-hidden="true"></i> State: {{ task.Status.State }}</li>
            <li class="list-group-item"><i class="fa fa-clock-o icon-space" aria-hidden="true"></i> Created at: {{ task.CreatedAt }}</li>
          </ul>
        </div>
    </div>
</div>