<div class="row">
    <div class="col-lg-6">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td>Node</td>
                    <td><span class="badge badge-success">{{ info.NodeName }}</span></td>
                </tr>
                <tr>
                    <td>Service</td>
                    <td><span class="badge badge-danger">{{ info.ServiceName }}</span></td>
                </tr>
                <tr>
                    <td>Created at</td>
                    <td>{{ info.CreatedAt }}</td>
                </tr>
                <tr>
                    <td>Updated at</td>
                    <td>{{ info.UpdatedAt }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>