<div class="row">
    <div class="col-lg-2" ng-repeat="task in tasks">
        <div class="card">
          <img class="card-img-top node-logo" src="/static/img/docker.png" alt="Node logo">
          <div class="card-block">
            <h4 class="card-title">{{ task.Spec.ContainerSpec.Image }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-cog icon-space" aria-hidden="true"></i> {{ task.NodeID }}</li>
            <li class="list-group-item"><i class="fa fa-linux icon-space" aria-hidden="true"></i> {{ task.Status.State }}</li>
            <li class="list-group-item"><i class="fa fa-check icon-space" aria-hidden="true"></i> {{ task.CreatedAt }}</li>
          </ul>
        </div>
    </div>
</div>