<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Swarm Mode UI</title>
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css" title="bootstrap4">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/default.css">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #B2EBF2">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <a class="navbar-brand" href="#">
        <img src="/static/img/logo.png" width="30" height="30" alt="Swarm Mode UI">
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Nodes <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/tasks">Tasks</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid container-custom" ng-view></div>
  </body>
  <script src="/static/lib/jquery/dist/jquery.min.js"></script>
  <script src="/static/lib/tether/dist/js/tether.min.js"></script>
  <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="static/lib/angular/angular.min.js"></script>
  <script src="static/lib/angular-route/angular-route.min.js"></script>
  <script src="static/lib/lodash/dist/lodash.min.js"></script>
  <script src="static/lib/restangular/dist/restangular.min.js"></script>
  <script src="static/lib/moment/min/moment.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="static/js/controllers/controllers.module.js"></script>
  <script src="/static/js/controllers/home.controller.js"></script>
  <script src="/static/js/controllers/services.controller.js"></script>
  <script src="/static/js/controllers/tasks.controller.js"></script>
  <script src="/static/js/controllers/node.controller.js"></script>
  <script src="/static/js/services/services.module.js"></script>
  <script src="/static/js/services/swarm.service.js"></script>
</html>
